.strength {
  padding: 0 6px;
  margin: 0 0 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 4px;
  font-size: calc(0.25em + .8vmin);
}

.title {

}

.type {

}

.levels {
  display: flex;
  grid-gap: 2px;

  .level {
    display: inline-block;
    height: 8px;
    flex: 1;
    background-color: #e7e7e7;
    transition: background-color .1s linear;
  }

  .level.active.lame {
    background-color: rgb(234, 91, 91);
  }
  .level.active.weak {
    background-color: rgb(212, 169, 88);
  }
  .level.active.medium {
    background-color: rgb(220, 220, 129);
  }
  .level.active.good {
    background-color: rgb(101, 101, 247);
  }
  .level.active.strong {
    background-color: rgb(95, 162, 95);
  }
}